<%- include('partials/header') -%>

<h1>Home</h1>

<p><%= startingParagraph %></p>

<% for(let i = 0; i < paragraph.length; i++){ %>
<h1><%= paragraph[i].title %></h1>
<p>
  <%= paragraph[i].body.substring(0, 100) + " ..." %>
  <a href="/posts/<%=paragraph[i].title%>">Read More</a>
</p>
<% } %> <%- include('partials/footer') -%>
